@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
	ViewData["Title"] = "First View Form";
}

<style>

	#first-view-form {
		max-width: 300px;
		margin: auto;
	}

</style>

<div id="first-view-form">
	<form asp-controller="Home" asp-action="SubmitForm" method="post">

		<div class="mb-3">
			<label for="nameInput" class="form-label">Name</label>
			<input class="form-control" id="nameInput">
		</div>

		<div class="mb-3">
			<label for="ageInput" class="form-label">Age</label>
			<input type="number" class="form-control" id="ageInput">
		</div>

		<button type="submit" class="btn btn-primary">Submit</button>
	</form>
</div>


