
@{
}

<style>

    .animal-types-div {
        padding: 12px;
        border: 1px solid #4e2a79;
        border-radius: 15px;
    }

    .animal-types-div .animals {
        display: inline-block;
        float: left;
        max-width: 200px;
        font-size: 12px;
    }

    .clearer {
        clear: both;
    }

</style>

<div class="animal-types-div">

    <p>Animal types</p>

    <div class="animals">
        <h4>Lizards</h4>
        <p>Lizards are shy and sneaky.</p>
    </div>

    <div class="animals">
        <h4>Dogs</h4>
        <p>Lizards are friendly and loyal.</p>
    </div>
    <div class="clearer"></div>
</div>