body {
    background-color: rgb(34, 34, 34);
    color: antiquewhite;
}


#board {
    display: grid;
    grid-template-rows: 150px 150px 150px;
    grid-template-columns: 150px 150px 150px;
    padding: 10px;
    justify-content: center;
    align-content: center;
}


.cell {
    margin: 10px;
    border: 2px solid antiquewhite;
    border-radius: 10px;
    transition: all 0.1s ease 0s;
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    font-size: 50px;
}


.cell:hover {
    margin: 5px;
    font-size: 55px;
    transition: all 0.1s ease 0s;
}