body {
    padding: 50px;
    color: #ffca2c;
    background-color: rgb(29, 6, 62)
}

body * {
    padding: 5px;
}

#help {
    color: #d0be88;
}

#content {
    margin: auto;
    max-width: 400px;
    text-align: center;
}

#lost-text {
    color: rgb(228, 101, 101);
}

#win-text {
    color: rgb(116, 213, 134);
}