@model List<Animal>

@{
}

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
        </tr>
    </thead>
    <tbody>

        @foreach (Animal animal in Model)
        {
            <tr>
                <th scope="row">@animal.id</th>
                <td>@animal.name</td>
            </tr>
        }
    </tbody>
</table>