@model Animal

@{
}

<style>

	#animals-form {
		max-width: 300px;
		margin: auto;
	}

</style>

<div id="animals-form">
	<form asp-controller="Animals" asp-action="InsertAnimal" method="post" asp-antiforgery="true">

		<div class="mb-3">
			<label asp-for="name" class="form-label">Name</label>
			<input asp-for="name" class="form-control">
			<span asp-validation-for="name" class="text-danger"></span>
		</div>

		<div class="mb-3">
			<label asp-for="breed" class="form-label">Breed</label>
			<input asp-for="breed" class="form-control">
			<span asp-validation-for="breed" class="text-danger"></span>
		</div>

		<div class="mb-3">
			<label asp-for="fkAnimalType" class="form-label">Type</label>
			<input asp-for="fkAnimalType" class="form-control">
			<span asp-validation-for="fkAnimalType" class="text-danger"></span>
		</div>

		<div class="mb-3">
			<label asp-for="bornDate" class="form-label">Date</label>
			<input asp-for="bornDate" class="form-control">
			<span asp-validation-for="bornDate" class="text-danger"></span>
		</div>

		<button type="submit" class="btn btn-primary">Submit</button>
	</form>
</div>


@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}
